<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    {{>header}}
    <div class="home">
        <h1>{{description}}</h1>
        <h3>Please find the weather of desired location in weather tab</h3>
        
    </div>
    {{>footer}}
</body>
</html>