<div class="header">
    <div class="app">
         <h1><a href="/">Weather App</a></h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </div>
</div>